@model CarsCatalog.Models.CarModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Изтриване на запис</h1>

<h3>Сигурни ли сте, че искате да изтриете този запис?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Car Make
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarMake.Name)
        </dd>

        <dt class="col-sm-2">
            Car Model
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Photo" width="200" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
