@{ ViewData["Title"] = "Марки"; }
@model IEnumerable<CarsCatalog.Models.CarMake>
<h3>Марки</h3>
<div class="container">
    <div class="row">
        @foreach (var carMake in Model)
        {
        <a asp-route="car_models"
           asp-route-id="@carMake.Id">
            <div class="grid-item-wrapper col-sm-3">
                <div class="card" style="width: 12rem;">
                    <div class="card-img-wrapper">
                        <img class="card-img-top" src="img/logos/@carMake.Logo" alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@carMake.Name</h5>
                    </div>
                </div>
            </div>
        </a>
    }
    </div>
</div>
